<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DllGroup">
            <Component Id="cmp268C429B998F3FD3E28EE9CD80923D37" Directory="INSTALLDIR" Guid="{19688648-E548-435A-B52B-DDD88907B404}">
                <File Id="fil81ACB19112D51E408D24319FD69A35B3" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\DemoApp.exe.config" />
            </Component>
            <Component Id="cmp060E4F3117DA7AB5B6D66C1364169BCA" Directory="INSTALLDIR" Guid="{6DB6F8F3-AFF9-4D91-886B-E9959F282EC1}">
                <File Id="filC52B9E1AC2A311A56FDF9B5A0E32F40F" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\DemoLib.dll" />
            </Component>
            <Component Id="cmpFF040E50AD3DC8ECF6FF9A0F6E27B863" Directory="INSTALLDIR" Guid="{A03EDE1D-CF77-4F4C-AE33-02B4EABAD1BB}">
                <File Id="fil1B9BE9838A1B6382F426153E73DDF15C" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp2C8AC5868EFBFC3B2AC72E1231DBBFB9" Directory="INSTALLDIR" Guid="{3BC01C00-D5B2-4AB4-A830-4BFE289E6E13}">
                <File Id="filE732D235CFF3BDAEE368651331E08E82" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\netstandard.dll" />
            </Component>
            <Component Id="cmp2D4147B471302F1010537C1E0DA90827" Directory="INSTALLDIR" Guid="{20A82C0B-62DB-40C0-B8E2-1F0A3A38C144}">
                <File Id="fil72A190466165F482B4C612A0E87CCF58" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.AppContext.dll" />
            </Component>
            <Component Id="cmp2426845CBB150CB83AEA8FBAE3204527" Directory="INSTALLDIR" Guid="{846A9099-757C-41BD-A626-D70FFF664F4D}">
                <File Id="filDCEB45A06B634FECDBEA714B6D2FC0D8" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmpBE9E4A1F6C636A859359F3A56521FB61" Directory="INSTALLDIR" Guid="{840512E3-E381-4E92-8C99-2CD8DE7DBD2A}">
                <File Id="fil8143C5D435CC4267AA3051DAD3ED473E" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Collections.dll" />
            </Component>
            <Component Id="cmp9C157D41136C950ABB24DF0D7EE4984F" Directory="INSTALLDIR" Guid="{B782B5D7-E62F-4512-8606-1605C2DFE4CC}">
                <File Id="fil30A6BE71D91A8F02F70A9A9F4B3E9277" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmpDED1152B36712BC43E4215CF954F90ED" Directory="INSTALLDIR" Guid="{E3C6521F-3816-492E-AF5C-85A7FFBB7802}">
                <File Id="fil540612C00889AD741B74DAE661914511" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp28828E42A5B6723824662CA7A9A4E7EE" Directory="INSTALLDIR" Guid="{3A0F0C93-8CB5-4205-911D-04D3D625B679}">
                <File Id="fil4D44CE7E3A8EC6CC1CDE33DCDDCC37C8" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp26499FC6CDE75A2C35A99BB70FF88308" Directory="INSTALLDIR" Guid="{9BF4D297-5912-4326-911E-7756EDF35A23}">
                <File Id="fil9D7A608F6DED21B548BEEEED1792E4CC" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp9FD7C4FE7FCD17C8D87D32F2EDC57467" Directory="INSTALLDIR" Guid="{12ED6444-FBED-4B11-B5FF-0DF1D277A7C5}">
                <File Id="fil58C77611E989BCE6DF7A166552B6D1A9" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp9088557FD4FC707325AD130BDF26F57C" Directory="INSTALLDIR" Guid="{7E3EE039-B4C5-4DB9-B3F8-1E2269127C32}">
                <File Id="fil405C97C8CC6E983F4F0EED99B913F8B0" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmpA742E7752B31853029A9CD85506E1043" Directory="INSTALLDIR" Guid="{796123D0-C0A5-42B8-AED3-D94193329648}">
                <File Id="fil10A6324DC8FC6FA151E1F3508CA6DF61" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Console.dll" />
            </Component>
            <Component Id="cmp17CC699CA0901E2E57F0945E8319B5FB" Directory="INSTALLDIR" Guid="{718B92BE-4504-4133-AA05-9744DC4D2EC5}">
                <File Id="filBE3E29326E4DC96A2FC2550C7D106AD9" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp7EECB206B906315E638EFBB509289FE9" Directory="INSTALLDIR" Guid="{A84F6B11-60E6-4101-A37B-2B5F7F51ABAD}">
                <File Id="filCCF92F15B546F6E0DDC3A68B2DCD1FED" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmpDC56342425F60F0D942F81A5F06B3242" Directory="INSTALLDIR" Guid="{6F23F66D-E964-461B-9B9E-690A5C85398A}">
                <File Id="fil24B8FB80EAF28C6B5AFCA16A25ED8505" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp03B309601E929D3C092DBA844988C179" Directory="INSTALLDIR" Guid="{E321927B-29EE-45F1-8A1D-2F14A497B704}">
                <File Id="filC10D4C7879BD81E2591C298DDB3F1534" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmpFE8D4168B7E97739C38DACEE23B7816B" Directory="INSTALLDIR" Guid="{FABEE77D-AD10-4964-B596-BE374F934B00}">
                <File Id="filC4E49A175E71ED485806AF7734D99C80" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmp42E5F66395C678EB0D558CAB772B82E4" Directory="INSTALLDIR" Guid="{9135E6FF-0664-4909-AD83-CB2526F7E3E6}">
                <File Id="fil3F35D49209C5D5628B9C872186544FED" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp39A7F869BAAD5F88A6B71EA78E3055FC" Directory="INSTALLDIR" Guid="{CECBDD56-6684-44CB-8314-28C64BE959FF}">
                <File Id="filB03631B16A548772D3408CCC536099C9" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp04515B1B712DD276EBBBF029AB722320" Directory="INSTALLDIR" Guid="{A7B295B4-8D49-440C-B671-7211C6C0B671}">
                <File Id="filE91467D0F1816C7528FCB132A60CDC0E" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp2F636CB85ED852F4712E98B218F6935B" Directory="INSTALLDIR" Guid="{48C33316-7879-4F48-BEFF-23EE922A918A}">
                <File Id="fil2267C15DE287EF8A022BB334AD805EC7" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmp81046C5AB40852D8DD7D015300022B5D" Directory="INSTALLDIR" Guid="{A6DCA453-BFBA-4926-9A3A-61CF48D5BDE6}">
                <File Id="filF871A9F589C7177D026838EB67FF6696" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp7564AA2DCF9D868B51E43342A21E08E3" Directory="INSTALLDIR" Guid="{34503AA5-ABBE-41F0-8E7D-A4A5C521DCB4}">
                <File Id="fil523D471A6E04667DD12D93318903E6EF" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp23868CE0ED466CA99E6ABD817D5424E3" Directory="INSTALLDIR" Guid="{39C58AE0-4604-4E35-BBCD-4108605CFA6F}">
                <File Id="filFE2CB8266571B1320654EE30DA896D42" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpBBCA733609AB53874B09427DBAB4D72A" Directory="INSTALLDIR" Guid="{CDDC4288-A5F1-44B4-8E38-E5D07D34BC1F}">
                <File Id="filF3B960089016B780D369F766C8908DCC" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp2CAE9098734E76C6612EE193B314E2D1" Directory="INSTALLDIR" Guid="{C9A400A5-52FB-49B3-8C5F-25EB21F2F599}">
                <File Id="fil66D3E57BD2382496A8B82681A676CD78" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp242514262F414CEABFB8EA5414E493C4" Directory="INSTALLDIR" Guid="{4612B95A-0099-4CFF-9BFE-18ED0DEC4691}">
                <File Id="filC1F1280D04D01C46F27ED8CCE6F9B295" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmpC54720A8C58D71168B89199611782DC9" Directory="INSTALLDIR" Guid="{5A02B43D-25C1-4F1E-B479-0B35EC7D9607}">
                <File Id="fil897B2848273A336A088D1D9870E45D65" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmp8B0BE559558E76F74C1B5653F64F24AA" Directory="INSTALLDIR" Guid="{20F545D2-BDD5-494A-A9FB-C5F6E44A6C0A}">
                <File Id="filC96C841DC8A0A9E44218181302D6D5BA" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp899E6C21A3B6D864C3ECF5B41D7B72FF" Directory="INSTALLDIR" Guid="{5FA32587-4FB4-4BFB-AA49-03A87C9A9081}">
                <File Id="fil3997129DBE48CD58D948F0C3C3D82169" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.dll" />
            </Component>
            <Component Id="cmp4A469F8064BDAB1D7E36E5EFB69F7F81" Directory="INSTALLDIR" Guid="{3AA86BFD-F315-4E6A-8C43-EB7068537937}">
                <File Id="filE2A7A91D556F0793CA59A8EFB3D77118" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmp72C13E566F01136AB5758BB16F05F27B" Directory="INSTALLDIR" Guid="{AE27DAFA-049E-4ECD-A380-685169B9B236}">
                <File Id="fil22E779FBE60807020E98A9D7E131C24D" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmpEEFEC0825DA2FF0305A8A96A20BC6C97" Directory="INSTALLDIR" Guid="{9A4E57A8-D146-4614-A641-16A7F704F60E}">
                <File Id="filC559FFD5C0446063F98D4C2F72694A51" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp8504968E8CF127D405BEFFA4DF7094F1" Directory="INSTALLDIR" Guid="{D4216D53-DCFF-49B8-9A80-38485A9A53E9}">
                <File Id="fil7B0EA86FFA7E48970E694C4986316566" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmpD1F57DC39BC0400F0C2CA78F072C4B1C" Directory="INSTALLDIR" Guid="{1C2EC524-2E0C-4AF0-9319-E15EF3251583}">
                <File Id="filD4A372F0C9E1776D01D08D01C225B52D" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmp00AB4ABB8DEE821A84EA5F1245A1C98E" Directory="INSTALLDIR" Guid="{9B7DA50B-9908-4A46-8423-126ED462AB04}">
                <File Id="fil06FF8948E174E9462F70757B0805DB50" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp7EFC7E0ADF7F95B770CFAAEFFB22C8BA" Directory="INSTALLDIR" Guid="{849FD417-5632-437B-A42C-E38CCB6BA224}">
                <File Id="filE9C07E5BB9D6E41A2070A63E5872EACC" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmpC05F6B8BF8179D109B4614D9C7918C33" Directory="INSTALLDIR" Guid="{6D52B7E2-1A83-45C3-9D48-1164A9E55AA3}">
                <File Id="fil09DEAA4D36B596392E085B1C0A4F1645" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmp10DF437E4915DF300DC7F404082307E0" Directory="INSTALLDIR" Guid="{21FD1A61-CD86-418F-AE4C-9201C7731135}">
                <File Id="fil8C0490F34B969C6AA31466BA42504A61" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Linq.dll" />
            </Component>
            <Component Id="cmpEC3139B522EE76A9899001DF78ABD239" Directory="INSTALLDIR" Guid="{EFC4ACBD-FB7D-4761-A4EE-3A660A2D1CFC}">
                <File Id="filF744F27F42FAD68D7E80757B3216243C" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmpB3A97A2C95A12EB19ACFAC7A57FC3B3F" Directory="INSTALLDIR" Guid="{EAF6D8B9-F046-4190-A6EF-D9AC04EBEADB}">
                <File Id="filA5F027DC33447300D17AF1C1F1DE819B" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmp22AF6639461CC61CE7B93B2EC580A563" Directory="INSTALLDIR" Guid="{7113CC2B-642A-4C35-856A-E433C8F1EED2}">
                <File Id="fil8F35BC4EBD8E506F60D96E3CD403F624" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmp7AEE516BAB7D7794B71A0F2451D9C891" Directory="INSTALLDIR" Guid="{9BB2CBDB-0EDC-445D-8CBF-3DBDDF00B81D}">
                <File Id="fil1010B59B2348E87E2BA09B96A028A4BF" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmpB8E1350D2684AD339054B2D682EC716F" Directory="INSTALLDIR" Guid="{D884B37F-B860-4838-9F1E-448E3DD2B43F}">
                <File Id="filE4BAD36EB4D49AB8F859E7D1BC5DDF20" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmp22B62096F65C562495F52C2C9C54F863" Directory="INSTALLDIR" Guid="{E3525800-799E-48A6-B111-FC269FE44FAA}">
                <File Id="filF78E3FC6E776D2FF26F0B77C9A6929CA" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp0FC078A6ACDDB5DE3B2B84810386DE58" Directory="INSTALLDIR" Guid="{D98872F2-6285-4C88-934E-9AB27F51DD20}">
                <File Id="fil9A56FB3F812AB9BFC9972B8C9AF4AF9A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp2BAC47D4916B54EB633A3F11473B2CED" Directory="INSTALLDIR" Guid="{0099404F-5514-457A-8E26-12414186B367}">
                <File Id="fil69758A7F253988BF6F619207E192C484" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp4D7D0FFBD167D957CE1820110E67F724" Directory="INSTALLDIR" Guid="{12359D5A-98FA-4237-A21C-2030A9BBB33E}">
                <File Id="fil0BAF8C404F006561295154F570A011B8" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp2540A8AA45B48D64E13BAAB54E20F9D6" Directory="INSTALLDIR" Guid="{608F9DA8-0AF3-44A4-80BA-D064C44DBE7A}">
                <File Id="fil1DDCAE989219820830B9A39C1467953A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmpA00E5D9E768805682C5C397B7F9837F8" Directory="INSTALLDIR" Guid="{9656EF4E-AFCD-4469-BB98-AF35AF6C97A2}">
                <File Id="fil50D3592C75B1F977EB6C8ED4315590C7" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmp6AE0F54AF7B6D7C241884938F121CC8A" Directory="INSTALLDIR" Guid="{CBDE2A57-1023-42CB-880A-3D8151742B2C}">
                <File Id="fil99922AD145161256E3E6CF4B1A45F0B6" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmpB8871746F07C753A05E02B1EDF0CBC33" Directory="INSTALLDIR" Guid="{86C44D85-3158-4625-92E3-83F0A6EB66A0}">
                <File Id="filD60E6931DBC1ED967CE4AF5B595FA178" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmp04EA51323C9D8CF1FD23F75955C827DF" Directory="INSTALLDIR" Guid="{425484CD-AFF7-4899-9C39-60B3EDEECCA3}">
                <File Id="fil2047A8D44EAC5208E14747F35BBFCDB1" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmp46BCDDD75AD9D9CCB315354A50CBA174" Directory="INSTALLDIR" Guid="{4C921E0E-9745-4327-A053-72FFA4431774}">
                <File Id="filF672196B16F3F110991078577FEA44D4" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmp87099AD55C174B9310DB16DF6E7B8C74" Directory="INSTALLDIR" Guid="{E2D52C1D-1B84-4D38-BA4E-45BE65C747B1}">
                <File Id="fil3E1EE7E1F84EC57E1DEB940432BA4413" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Reflection.dll" />
            </Component>
            <Component Id="cmp036FF53D1FA3DFC6078A242D14F42992" Directory="INSTALLDIR" Guid="{C95A4C6C-31A7-43D5-B407-FBE5C5DCAC55}">
                <File Id="fil53C89CC546E888A8C6F5D4A7D6C15F8D" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp25CC2D0FDD44B332AC59B732FE4C9678" Directory="INSTALLDIR" Guid="{36C7D879-A8B6-4345-82D5-46E392984B94}">
                <File Id="filC4DEB93549EDD91E2B7C17D09688EB0D" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp69DB8EEDBF9D4221032804946678BA45" Directory="INSTALLDIR" Guid="{4CC797E2-E806-4C22-B23F-55F390FE7EFC}">
                <File Id="filFAAAA253BF55ED9D2836A902A88376C5" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmpABCE4AA7A0508EE09A7017738DE55184" Directory="INSTALLDIR" Guid="{1D174EE9-B099-4BDB-90B3-FB415F7D5CF7}">
                <File Id="fil24F96004CC167DC17DEDD9547C21334D" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp1BAECCC3AF1D0C4788BE1B714DE3C6A4" Directory="INSTALLDIR" Guid="{735D0A27-AA38-47AA-835B-14AA2865A532}">
                <File Id="fil6C803A91CC624DDAF1B4163273D4713A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmp8F58E899ED4C90E6C1044836C45A1A34" Directory="INSTALLDIR" Guid="{28EDD661-1695-4A1E-B2E5-EF0257FBC16B}">
                <File Id="fil51DA398395F0B4BF7685423B2FC06E8A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp44A909725D8C39FC814640E22768251E" Directory="INSTALLDIR" Guid="{3ABDA976-9259-40E3-A6BA-DAFF6E6888B1}">
                <File Id="fil12AE4735A20FD4CACACC3828F3EFC4A9" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp1370FD5B3BF3A2AD2032BB88BE34F16A" Directory="INSTALLDIR" Guid="{0DE9731B-8E1F-4BD9-BC6C-D484F62D5EE3}">
                <File Id="fil161F8C6E208E22768B63B82BC0740525" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmp4BFD36091D45E02D2323CCFEBE33A0C1" Directory="INSTALLDIR" Guid="{BB28E8B5-0C29-4F8A-832C-38F8ED2957DC}">
                <File Id="fil7B86FA7588EDBA07DAB4463CB54FD19B" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmp992A3287EFBCD21B16FD82BBCB30F2F8" Directory="INSTALLDIR" Guid="{BF5C2BB6-BBB4-4AA7-8E04-E57ACBA321C1}">
                <File Id="fil846B212983A276835E432284926CDBE8" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp6E3C8EE3723F17D4E9798BEC995247EF" Directory="INSTALLDIR" Guid="{63066609-EEC5-4E2E-8D6E-A69AE36D2EAE}">
                <File Id="fil9146D732B51164B168D65E121F94A3E7" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpBA378D8ADDE088733C186C2923BAB672" Directory="INSTALLDIR" Guid="{5EC6D2FF-6DCF-44E3-9EAA-F523037DFB36}">
                <File Id="filB9F6764BD4E8FA89BFC68A3D9B73E173" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp558A4ED21F1328068D16C16FD082D609" Directory="INSTALLDIR" Guid="{153B6452-4A16-4FF3-8BD3-3DA5F067579F}">
                <File Id="filEB87143A25243435B27BB19B6F888A98" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmpE23F9F39CC02F566FD4FC463B7B1E49B" Directory="INSTALLDIR" Guid="{E7A43A36-AE36-47D4-BEFD-918602B10ED9}">
                <File Id="filDD2B46C1E8AFF14C4E3447A8B520455A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp1E39D9E8FC1B222899AC673289373BD7" Directory="INSTALLDIR" Guid="{1728B1FA-F600-45C7-8628-944AEA882A39}">
                <File Id="fil864DD1D7D1D425E9313A10AF9FFA3E8A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmpFEA55BB8C19251FB0B1631FF75808AFF" Directory="INSTALLDIR" Guid="{0E180480-36EA-452D-A8B9-63FA372B4EAA}">
                <File Id="fil19A22A3688C77C5579E6C0872A566499" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp2E4874E42463239FF2304B9B355BA4FE" Directory="INSTALLDIR" Guid="{A9D14DB3-395D-47F4-923C-81A13378BECA}">
                <File Id="fil8FB3FB7E8D13B85D2CF99D141F98FD39" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmp3AA402CACEABDDD5FCE111324CFD48D7" Directory="INSTALLDIR" Guid="{C615654F-AE90-4871-B972-84178265AC8A}">
                <File Id="fil5018D9BD3BA9044E41E6A2F304DE307C" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp261528D441F684952D3D791B09C24881" Directory="INSTALLDIR" Guid="{88B6BA2D-D78F-4B61-A6D2-776940160E11}">
                <File Id="fil614590CB9EC782E1E230EF1E01146F4D" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp3111524F1CA626B39A3758729F99710A" Directory="INSTALLDIR" Guid="{73DA5A35-B8E4-4766-8A3E-E6816934246E}">
                <File Id="fil24A14EF90B7AD0AB129F0631D3146138" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp77DCC69456AD9A1D016EF3E382A3E400" Directory="INSTALLDIR" Guid="{79F70CCF-2761-4398-8690-8AFDE715EFED}">
                <File Id="fil1B3F7C9DFD7B2DDD04E3BE8149CF84BC" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmpA9F5609B8F022E8AD85FAA789A729907" Directory="INSTALLDIR" Guid="{C8E38462-3C50-4500-BA76-2C97602DB8BF}">
                <File Id="filEB6B5EA548E63BD86DDF7CD21D42276E" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp54B2B074CC7B6DC9E697D3BB5690F618" Directory="INSTALLDIR" Guid="{A49FB237-8033-487C-BC29-DEF3E540ED37}">
                <File Id="fil7DC57C99E469304FAF8BA65075E53D3F" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmpFF8FBF727A437DD1F641533094D91BC1" Directory="INSTALLDIR" Guid="{99070219-DB5D-4998-90FC-83D15AB5B3E7}">
                <File Id="filAA24B77B34CCAE0C503B5E44C8BE1C50" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp0B8BA96798594170229DE6EE0F0B7919" Directory="INSTALLDIR" Guid="{905106E6-7D1F-4078-AF70-BFD4A37EA4F3}">
                <File Id="fil3EB88CA288AAE2F1425C239D47B23251" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmpDC8EA55D39DAB9118E989A02138ECA9B" Directory="INSTALLDIR" Guid="{F480E6CF-D475-43AB-BC0C-5209BD8E8BCF}">
                <File Id="fil133C033E331D190BF7439ED7D30FBBC4" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmp6B3922D0ECBA7A346FE3A488E43055B0" Directory="INSTALLDIR" Guid="{EEC80B4E-8FCD-4C47-99A6-019B33BF9CCE}">
                <File Id="fil66C8DE7ACFC988C2F4001AD442D03774" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmp0707D09E29014A1D80D16677A836F725" Directory="INSTALLDIR" Guid="{AE95042B-3567-4D88-9122-AE404B1FD937}">
                <File Id="fil4B34D46F80F15D59B30356A027B503EB" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.dll" />
            </Component>
            <Component Id="cmpCA62382E5AFB842E844B569598F11B8C" Directory="INSTALLDIR" Guid="{800905E2-5FB6-497C-A483-33DAB0EF165E}">
                <File Id="fil400AB35807CF8E20C0C2DEC1D433FB02" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmp275B13A79BB1C3BDB71D1E89C794D3FA" Directory="INSTALLDIR" Guid="{436FA3C1-6C32-404B-B5BF-A345F91458C4}">
                <File Id="filA4AC401B7AF50C63AD1E05219DA24530" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp5101C7E6B456E8BE1D209BD87EC137AA" Directory="INSTALLDIR" Guid="{870DB14F-1343-4461-9D4E-1CB5C044A6F8}">
                <File Id="filD06083B1349796F142B7D5578B2F998A" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmp2B2EDCF264E465977DFE29CEF2550265" Directory="INSTALLDIR" Guid="{ABC3B65C-10B8-426A-98D9-9139F6C3DC4C}">
                <File Id="fil1C8508D55A7B04C3B6B985D5C24DDD92" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmpEB4C0426BB2AEFB15126C4958EAB5122" Directory="INSTALLDIR" Guid="{E7172EAC-FBB6-404E-B564-2160B8EA8640}">
                <File Id="fil30C1015D7C8D57EA10B3A17B36EDC6F8" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp9B779DBA62C409D6D331F8EF776ABF45" Directory="INSTALLDIR" Guid="{D896F25C-670A-49F3-B89E-D79E325D7080}">
                <File Id="filA4C2378200B82C467FD83B2F5704C2BB" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmpFEF6B47BF9B00C3A59AAE8E5CEFE955E" Directory="INSTALLDIR" Guid="{7BCB571D-524A-403F-9CA2-B13FFA402DA5}">
                <File Id="filDDEF23698F15749B6DFB9323AB5F2EAE" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp8027288413F27235CF509FAFEA4C156E" Directory="INSTALLDIR" Guid="{82DFC978-EE9E-4E4A-9405-28747B7C07AC}">
                <File Id="fil54CE7DFCD123132412DB344273489523" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmp0C84E308EB0AFDE77EA5302F5A74D344" Directory="INSTALLDIR" Guid="{2EE7B7B5-51FA-4618-B360-5A506F691AE3}">
                <File Id="fil2FBAE6C1727E421003D82FC720BD69BC" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmpE4866895D754905350C04D1772E4129A" Directory="INSTALLDIR" Guid="{54848089-225A-4F69-851A-F8A3CD218E21}">
                <File Id="filCB4617D53331500634F0C9E7DB678C24" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmpB6E88A038BA9272D1F379767FE359D72" Directory="INSTALLDIR" Guid="{C9CEE763-21A9-4BA4-804B-5D9412B2F1A6}">
                <File Id="filD49B957BCEFE2BA6A6E7F926EF92CBC0" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmpFAB0F4CA6F407CD83C6D87FA624D096D" Directory="INSTALLDIR" Guid="{0C40A2A8-CA05-4570-B859-A47087B3FFFB}">
                <File Id="fil0091256EC8AB26AD77130B279E859D89" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp1C1CD8002E039EDED7E4CD0528832B89" Directory="INSTALLDIR" Guid="{A3F34AAB-AD06-4A2A-AC3E-FAAE28F9676D}">
                <File Id="filC6F0FEAC248FCD1373986BAFDEEB0B99" KeyPath="yes" Source="$(var.DemoApp.TargetDir)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>