<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName="WiXDemo" ?>
  <?define Company="Acme Ltd." ?>
  <?define VersionNumber="!(bind.FileVersion.App.exe)" ?>

  <!-- See https://blogs.msdn.microsoft.com/pusu/2009/06/10/what-are-upgrade-product-and-package-codes-used-for/
       - The upgrade code is the unique GUID of identifying a family of a product. All products have different ProductCodes, but they are linked together by using the same UpgradeCode. 
       - Different versions and languages of Product must have different product codes.
       - The <Component>, <Package>, <Patch> and <Product> elements support auto-generation of GUIDs every time the project is build by specifying a '*'
       See also https://docs.microsoft.com/de-de/windows/desktop/Msi/productcode
       and https://docs.microsoft.com/de-de/windows/desktop/Msi/upgradecode
       and https://docs.microsoft.com/de-de/windows/desktop/Msi/productversion
  -->
  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.VersionNumber)"
           Manufacturer="$(var.Company)"
           UpgradeCode="849bce58-0d34-4814-a3dd-ebc9d6dd5224">
    
    <Package Id="*"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUIBannerBmp" Value=".\SourceDir\Dialog Bitmaps\Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value=".\SourceDir\Dialog Bitmaps\Dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value=".\SourceDir\License\License.rtf" />

    <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>
    <Condition Message='Windows Server 2008 or newer is required'>VersionNT >= 600 AND MsiNTProductType = 3</Condition>
    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature"
             Title="$(var.ProductName)"
             Level="1"
             Absent="disallow"
             AllowAdvertise="no">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
  </Product>

  <!-- See http://robmensching.com/blog/posts/2010/1/26/StackOverflow-what-does-NameSourceDir-refer-to 
       TARGETDIR: the root destination directory for the installation
       SourceDir: the root directory that contains the source cabinet file or the source file tree of the installation package
       See also https://docs.microsoft.com/de-de/windows/desktop/Msi/sourcedir
       and https://docs.microsoft.com/de-de/windows/desktop/Msi/targetdir
  -->
  <Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <!-- For the special role of ProgramMenuFolder see https://docs.microsoft.com/de-de/windows/desktop/Msi/programmenufolder -->
      <Directory Id="ProgramMenuFolder"
                 Name="Programs">
        <Directory Id="ProgramMenuDir"
                   Name="$(var.ProductName)"/>
      </Directory>
      <!-- For the special role of ProgramFilesFolder see https://docs.microsoft.com/de-de/windows/desktop/Msi/programfilesfolder -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR"
                   Name="$(var.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!-- See http://wixtoolset.org/documentation/manual/v3/votive/votive_project_references.html -->
    <Icon Id="App.ico"
          SourceFile="$(var.DemoApp.TargetPath)" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="INSTALLDIR">
      <Component Id="ProductComponent">
        <File Id='App.exe'
              Source='$(var.DemoApp.TargetPath)'
              KeyPath='yes'>
          <Shortcut Id="ProgramMenuShortcut"
                    Directory="ProgramMenuDir"
                    Name="Run $(var.ProductName) App"
                    WorkingDirectory="INSTALLDIR"
                    Icon="App.ico"
                    IconIndex="0"
                    Advertise="yes" />
        </File>
        <RemoveFolder Id="ProgramMenuDir"
                      Directory="ProgramMenuDir"
                      On="uninstall" />
      </Component>
      <ComponentGroupRef Id="DllGroup" />
    </ComponentGroup>
  </Fragment>
</Wix>
